<div class="container" [class.dark]="darkMode">
  <button class="theme-btn" (click)="darkMode = !darkMode">
    {{ darkMode ? 'Light' : 'Dark'}} Mode
  </button>

  <h1>Products Management</h1>

  <!-- Product Form -->

  <div class="from">
    <input [(ngModel)]="form.name" placeholder="Name" required #nameInput="ngModel" />
    <div class="error" *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
      Name is required
    </div>

    <input [(ngModel)]="form.description" placeholder="Description (optional)"/>

    <input [(ngModel)]="form.price" type="number" placeholder="Price" required min="1" #priceInput="ngModel" />
    <div class="error" *ngIf="priceInput.invalid && (priceInput.dirty || priceInput.touched)">
      Valid price (> 0) required
    </div>

    <div class="actions">
      <button (click)="save()" [disabled]="nameInput.invalid || priceInput.invalid">
        {{ editId ? 'Update' : 'Add'}} Product
      </button>
      <button *ngIf="editId" (click)="cancel">
        cancel
      </button>
    </div>
  </div>


<!-- Product List -->
 <ul class="product-list">
  <li *ngFor="let p of products">
    <div class="info">
      <strong>{{p.name}}</strong> - {{p.price}}
      <small *ngIf="p.description">({{ p.description }})</small>
    </div>
    <div class="buttons">
      <button (click)="edit(p)">Edit</button>
      <button class="delete" (click)="remove(p.id)">Delete</button>
    </div>
  </li>
  <li *ngIf="products.length === 0" class="empty">No Products yet</li>
 </ul>
</div>